<style>
  /*.modal #job-details p {
  font-size: 14px;
  margin: 3px 0px;
}
.modal #job-details a {
  width: 40%;
}
@media (max-width: 576px) {
  #job_listings select {
    width: 70%;
  }
}*/
</style>  


            <!--Navbar -->
            <nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
                <a class="navbar-brand font-bold" href="#">Connectify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                      {{# if login }} 
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true"><i class="fa fa-gear"></i> Log Out <i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search" tabindex="-1" aria-disabled="true"><i class="fa fa-gear"></i> Search <i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true"><i class="fa fa-gear"></i> Dashboard</a>
                        </li>
                    </ul>
                        {{ else }}  
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link"href="/about" tabindex="-1" aria-disabled="true" ><i class="fa fa-gear"></i> About</a>       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="#" data-toggle="modal" data-target="#registerModal" tabindex="-1" aria-disabled="true"><i class="fa fa-gear"></i> Get Started</a>       
                        </li>
                    </ul>
                        {{/if}}
                </div>
            </nav>
            <!--/.Navbar -->

















    <!-- <a class="nav-link " href="#" data-toggle="modal" data-target="#registerModal">Register</a> -->

    <!--MODAL BOX -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="mt-5 font-weight-bold">Register to access awesome groups</h5>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sign Up</a>
              </li>
            </ul>
            <!-- -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- SIGN IN -->
                {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{# each messages }}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <form method="POST" action="/signin" class="mt-3">
                  <div class="form-group">
                    <label for="Email" class="my-0">Email</label>
                    <input type="email" name="email" class="form-control my-0" placeholder="yourname@email.com" required>
                  </div>
                  <div class="form-group">
                    <label for="password" class="my-0">Password</label>
                    <input type="password" name="password" class="form-control my-0" required>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" required>
                  </div>
                  <button type="submit" class="btn btn-custom my-4">Sign In</button>
                    <a href="/forgot-password" class="text-left"> forgot password?</a>
                </form>
                <!--//SIGN IN -->
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- SIGN UP -->
                {{#if hasErrors}}
                  <div class="alert alert-danger">
                      {{# each messages }}
                          <p>{{this}}</p>
                      {{/each}}
                  </div>
                {{/if}}
                <form method="POST" action="/signup" class="mt-3">
              <div class="form-group">
                <label for="Email" class="my-0">Email</label>
                <input type="email" name="email" class="form-control my-0" placeholder="yourname@email.com" required>
              </div>
              <div class="form-group">
                <label for="password" class="my-0">Password</label>
                <input type="password" name="password" class="form-control my-0" required>
              </div>
              <div class="form-group">
                <label for="cpassword" class="my-0">Confirm Password</label>
                <input type="password" name="cpassword" class="form-control my-0" required>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" required>
              </div>

              <div class="form-group row">
                <div class="c"><button type="submit" class="btn btn-custom my-4">Register</button></div>
              </div>
              
            </form>
            <!--//SIGN UP -->
              </div>
            </div>

          </div>      </div>  </div> </div>