<style type="text/css">
  .side-bar-item {
    margin-bottom: 30px;
  }

  .col-3 {
    background-color: #ced0f1;
  }
</style>
<link rel="stylesheet" href="css/sellect.css">

<!-- OPENING TAG FOR CONTAINER -->
<div class="container-fluid">



<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active side-bar-item" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Profile</a>
      <a class="nav-link side-bar-item" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">New</a>
      <a class="nav-link side-bar-item" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Existing</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content container-fluid" id="v-pills-tabContent">
      
      <!-- MANAGE YOUR ACCOUNT PANEL -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h3>Manage your account</h3>
        <div>
          <h6>{{ this.user }}</h6>
        </div>
      </div>

      <!-- ADD GROUP PANEL -->
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h4 class="mb-3">Add Group</h4>
        <div class="container-fluid">
          <form class="submit-groups" method="POST" action="/submit-groups">
            <div class="row">

              <div class="col-md-12 mb-3">
                <label for="firstName">Group name</label>
                <input type="text" class="form-control" name="groupname" id="groupname" placeholder="" value=""
                  required>
                <div class="invalid-feedback">
                  Valid Group name is required.
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="username">URL</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="url" class="form-control" name="groupurl" id="groupurl" placeholder="Username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="address">Description</label>
                <textarea type="text" name="groupinfo" class="form-control" id="groupinfo" required></textarea>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="col-md-12 mb-3">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="country">Type</label>
                  <select class="custom-select d-block w-100" name="grouptype" id="grouptype" multiple required>
                    <option value="">Choose...</option>
                    <option>Tech</option>
                    <option>Religious</option>
                    <option>Educational</option>
                    <option>Activist</option>
                    <option>Hacktivist</option>
                  </select>

                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="state">Social Platform</label>
                  <select class="custom-select d-block w-100" name="groupplatform" id="groupplatform" required>
                    <option value="">Default</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                </div>

              </div>
              </div>

              <div class="col-md-6" style="text-align: center">
                  <input type="hidden" name="_csrf" value="{{ csrfToken }}" required>
                  <input type="hidden" name="useremail" id="useremail" value={{ this.user }} required />
                  <button class="btn btn-primary btn-lg btn-block" style="display: inline-block" type="submit" id="group-submit">Submit</button>
              </div>


              <hr class="mb-4">
          </form>
        </div>
      </div>

      <!-- MESSAGES PANEL -->
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="management table-responsive">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-hover">
                  <tr id="no-border">
                    <th>Group Name</th>
                    <th>Category</th>
                    <th>Platform</th>
                    <th></th>
                    <th></th>
                  </tr>

                  {{# each groups }} 
                    {{# each this }}
                    <tr>
                      <td scope="col">{{ this.groupname }}</td>
                      <td scope="col">{{ this.grouptype }}</td>
                      <td scope="col"><a href="{{this.groupurl}}" class="btn btn-outline-primary">{{ this.groupplatform }}</a></td>
                      {{!-- <td scope="col"><a href="/edit/{{this._id}}" class="btn btn-primary">EDIT</a></td> --}}
                      <td scope="col"><a href="/delete/{{this._id}}"  onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-outline-danger" id="{{this._id}}">DELETE <i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {{/each}}
                  {{/each}}

                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>


<!-- CLOSING TAG FOR CONTAINER -->
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>
  $('.submit-groups').on('submit', function (e) {
    e.preventDefault();
    $.ajax({
      url: "/submit-groups",
      method: "post",
      data: $('.submit-groups').serialize(),
      beforeSend: function () {
        console.log("Adding...");
        $("#group-submit").html("Adding.....");
      },
      success: function (res) {
        alert('done');
        $("#group-submit").html("Upload");
        $("#messges").html('<div class="alert alert-success"><p>Added Successfully</p></div>')
      },
      error: function (err) {
        alert("Not Done")
        $("#messages").html('<div class="alert alert-danger"><p>Error Uploading Product</p></div>')
        console.log(err);
        $("#group-submit").html("Upload");

      }
    })
    reset();
  })

  function reset() {

    $("#groupname").val("");
    $("#groupurl").val("");
    $("#groupinfo").val("");
    $("#grouptype").val("");
    $("#groupplatform").val("");
    $("#resetContainer").innerHTML = "";
    $("#messages").append("<p class='primary'><strong>A mail has been sent to " + "<strong></p>");
  }
</script>


<script src="js/sellect.js"></script>

<script>
    var mySellect = sellect("#grouptype", {
        originList: ['Choir', 'Technical Unit', 'Media and Publicity', 'Sanitation', 'Transportation', 'Prayer', 'Ushering', 'Academic',  'Drama','Bible Study','Welfare'],
        destinationList: [],
        onInsert: updateDemoLists,
        onRemove: updateDemoLists
    });

    mySellect.init();

    // demo code to return lists
    /* function updateDemoLists(event, item) {
        var selectedList = document.getElementById('selected-list');
        var unselectedList = document.getElementById('unselected-list');
        var selectedArr;
        var unselectedArr;

        while (selectedList.firstChild) {
            selectedList.removeChild(selectedList.firstChild);
        }

        while (unselectedList.firstChild) {
            unselectedList.removeChild(unselectedList.firstChild);
        }

        selectedArr = mySellect.getSelected();
        unselectedArr = mySellect.getUnselected();

        selectedArr.forEach(function (item, index, arr){
            var span = document.createElement('span');
            span.innerText = item;
            selectedList.appendChild(span);
        });

        unselectedArr.forEach(function (item, index, arr){
            var span = document.createElement('span');
            span.innerText = item;
            unselectedList.appendChild(span);
        });
    } */
</script>
<script>
  
  var select = document.getElementById("groupplatform"),
                     arr = [
                    "Facebook Groups","Gitter","Google Groups","imgur","Instagram","WhatsApp","Telegram",
                    "reddit","Slack","Skype","Spectrum","Youtube Channels"
                    ];
             
             for(var i = 0; i < arr.length; i++)
             {
                 var option = document.createElement("OPTION"),
                     txt = document.createTextNode(arr[i]);
                 option.appendChild(txt);
                 option.setAttribute("value",arr[i]);
                 select.insertBefore(option,select.lastChild);
             }
             
</script>



